*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}body{
    background-color: black;
    /* navigation style */
}
.container{
    background-color: black;
    width: 100%;
    height: auto;
    position: fixed;
    justify-content: center;
     border-bottom: 5px solid orangered;
}
.nav{
    max-width: 1200px;
    margin: auto;
    font-weight: bold;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
   
}
.nav h1{
    color: white;
}
.container ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
     
    
}
.container ul li a{
    text-decoration: none;
     background-color:transparent;
     padding:10px 10px;
     color: white;
   
}
.container ul li a:hover{
     background-color:white;
     color: black;
     border-radius: 10px;
   
}
/* hero section style */
.section1{
   width: 100%;
    height: auto;
    display: flex;
    max-width: 1500px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    flex-wrap: wrap;
    border-bottom: 1px solid orangered;
   
}
span{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.section1 .infor{
    color: white;
}
.section1 .infor p{
    font-size: 35px;
     margin-top: 100px;
}
.section1 .infor h1{
    font-size: 50px;
    margin: 20px 0;
}
.section1 .photo img{
    height: 400px;
    border-radius: 50%;
    margin-right: 100px;
    margin-top: 80px;
    /* border-bottom: 30px solid white; */
    margin-bottom: 20px;
}
/* about me section */
.aboutme{
    background-color:black;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    
}
.aboutme .photo img{
    margin-top: 100px;
    width: 380px;
    height: 500px;
    border-radius: 20px;
    background-color:rgba(235, 225, 225, 0.10);
     
}
.aboutme .infor{
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6;
    text-align: center;
    height: 400px;
    
}
.aboutme .infor h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
.aboutme1{
    font-size: 20px;
}
.infor ul{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    
}
.infor ul li{
    margin-right: 20px;
    list-style: none;
    padding: 0px 10px;
    cursor: pointer;
   
}
.infor ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}
.infor ul li:hover{
    color: white;
    background-color: rgba(235, 225, 225, 0.10);
    border-radius: 10px;
}
@media (max-width:600px){
    .section1 .infor{
    text-align: center;
}
    .section1 .photo img{
        display: none;
    }

  .massage input{
   
    width: 200px;
    height: 50px;
   
}
.massage textarea{
    width: 200px;
    margin: 15px;


}
.massage{
    max-width: 450px;
}
}

/* MyServices */
.MyServices{
    background-color: black;
    max-width: 1300px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
     margin-top: 100px;
     color: white;
}

.MyServices .item:hover{
    background-color: rgba(235, 225, 225, 0.9);
    color: black;
    margin-bottom: 10px;
}
.MyServices h1{
    
    font-size: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: start;
    margin-left: 30px;

}

.MyServices .Servicesbox{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.Servicesbox .item{
    justify-content: start;
    padding: 30px 50px;
    width: 400px;
    height: auto;
    background-color: rgba(235, 225, 225, 0.10);
    border-radius: 10px;
    border-bottom: 4px solid orangered;
    
}
.item .fa-solid{
    margin-bottom:20px;
    font-size: 50px;
}
.item h2{
    margin-bottom: 10px;
    font-size: 30px;
}
.item p{
font-size: 15px;
margin-bottom: 20px;
line-height: 1.6;
font-family:'Times New Roman', Times, serif;
}
.item a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
.item a:hover{
    color: blue;
} 
/* my-work */
.mywork{
   background-color: black;
   max-width: 1300px;
   margin: auto;
  color: white;
  padding: 30px;
}

.mywork h1{
    font-size: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.myworkbox{
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
   
}
.mywork .workbox img{
    border-radius: 20px;
    width: 400px;
    height: 300px;
    border-bottom: 4px solid orangered;
   
}

.seemore button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    background-color: orangered;
    color: white;

}
.seemore button:hover{
    background-color: white;
    color: black;
}

/* contact */
.contact{
    max-width: 1300px;
    display: flex;
    margin: auto;
    padding: 20px;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;

}
.contact h1{
    font-size: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact p{
    margin: 20px 0;
}
.contact .down a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: orangered;
    border-radius: 10px;
    
}
.contact .down a:hover{
    background-color: white;
    color: black;
}
.contact .down{
    margin-top: 25px;
}
.massage{
   
    max-width: 700px;
}

.massage input{
    background-color:rgba(235, 225, 225, 0.10) ;
    border: none;
    width: 420px;
    height: 50px;
    margin: 15px 15px 15px 0;
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.massage textarea{
    background-color: rgba(235, 225, 225, 0.10);
    border-radius: 10px;
    border: none;
    width:420px;
    margin: 15px 15px 15px 0;
    color: white;
     padding: 20px;

}
.massage button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 15px 15px 15px 0;
    background-color: orangered;
    color: white;
    
}
.massage button:hover{
    background-color: white;
    color: black;
}
.footer{
    width: 100%;
    background-color: rgba(235, 225, 225, 0.10);
    display: flex;
    justify-content: center;
  
}
.footer p{
    color: white;
    padding: 20px;
}